<div class="media alert {{#if isError}}alert-danger{{/if}}">
  <img class="media-object pull-left" src="/{{service}}/icons/{{icon}}/legacy">
  <div id="last-output-rendered-message" class="media-body">{{{messageMarkdown}}}</div>
</div>